
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The content half -->
        <div class="col-md-6 second-part">

            <div class="login d-flex align-items-center py-5">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">

                            <h3 class="user_form_tittle ">Admin SID Change !</h3>
                            <p class="text-muted mb-4 " style="text-align: center;"> Hi Admin ! Enter your email and password for change Secret Id.</p>
                            <div id="errorMessage" class="mb-4" style="color: red; text-align: center;">{{errorMessage}}
                            </div>
                            <form action="/admin/adminSID" method="post">
                                <div class="form-group mb-4 inputgroup">
                                    <label for="inputEmail">Admin_Email</label>
                                    <input id="inputEmail" name="Admin_Email" onkeyup="validateEmail()" type="email"  class="form-control   shadow-sm px-4">
                                    <span id="email-error"> </span>
                                </div>
                                <div class="form-group mb-2 inputgroup">
                                    <label for="inputPassword">Admin SID</label>
                                    <input id="inputPassword" name="Admin_SID" onkeyup="validatePassword()" type="password"  required=""class="form-control   shadow-sm px-4 text-primary">
                                    <span id="password-error"> </span>
                                </div>
                                <div class="mb-3" >
                                    <a class="forgottenpassword" href="#">forgot password</a>
                                </div>
                                <div class="form-group mb-2 inputgroup ">
                                        <button type="submit" onclick="return validateSubmit_login()"  class="submit_button btn-block text-uppercase mb-2   ">Admin Login</button>
                                        <span class="submiterr" id="submit-error"></span>
                                </div>  

                                <div style="color: white;" class="text-center d-flex justify-content-center mt-4">
                                    <p>Create New Account <a href="/admin/adminSignup" >
                                            <u class="link_hover_form_down">Sign Up</u></a></p>
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
