
 <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <div class="col-md-6 d-none d-md-flex bg-image"></div>
    
    
            <!-- The content half -->
            <div class="col-md-6 second-part">
                <div class="login d-flex align-items-center py-2">
    
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                 <a href="/admin"><button class="back_button fa fa-home mb-2"></button></a>

                                <h3 class="user_form_tittle ">New Admin Register !</h3>
                                <p class="text-muted mb-2" style="text-align: center;">Enter your Details for New Admin Register.</p>
                                <div id="errorMessage" class="mb-4"  style="color: red; text-align: center;">{{errorMessage}}</div>     
                                <form action="/admin/adminSignup" method="post">
                                
                                    <div class="form-group mb-2 inputgroup">
                                        <div class="form-group mb-3 inputgroup">
                                        <label for="inputAdminCode">SID</label>
                                        <input id="inputAdminCode" name="Admin_SID" type="text" onkeyup="validateAdminCode()" placeholder="Admin Code" class="form-control   shadow-sm px-4 text-primary">
                                        <span id="AdminCode-error"> </span>
                                    </div> 
                                        <label for="inputName">Name</label>
                                        <input name="Admin_Name" id="inputName" onkeyup="validateName()" type="text" placeholder="fullname"  class="form-control   shadow-sm px-4">
                                        <span id="name-error"> </span>
                                    </div>
                                    <div class="form-group mb-2 inputgroup">
                                        <label for="inputEmail">Email</label>
                                        <input name="Admin_Email" id="inputEmail" onkeyup="validateEmail()" type="email" placeholder="Email address"  class="form-control   shadow-sm px-4">
                                        <span id="email-error"> </span>
                                    </div>
                                    <div class="form-group mb-2 inputgroup">
                                        <label for="inputPassword">Password</label>
                                        <input name="Admin_Password" id="inputPassword" onkeyup="validatePassword()" type="text" placeholder="Password"  class="form-control   shadow-sm px-4 text-primary">
                                        <span id="password-error"> </span>
                                    </div>
                                    <div class="form-group mb-2 inputgroup">
                                        <label for="inputConfirmPassword">Confirm password</label>
                                        <input  id="inputConfirmPassword" type="text" onkeyup=" validateConfirm()"  placeholder="Password"  class="form-control   shadow-sm px-4 text-primary">
                                        <span id="confirm-password-error"> </span>
                                    </div>
                                    <div class="form-group mb-3 inputgroup">
                                        <label for="inputMobile">Mobile No</label>
                                        <input id="inputMobile" name="Admin_Mobile" type="text" onkeyup="validateMobile()" placeholder="Mobile No" class="form-control   shadow-sm px-4 text-primary">
                                        <span id="mobile-error"> </span>
                                    </div>
                                     
                                    <div class="form-group mb-2 inputgroup ">
                                        <button type="submit" onclick="return validateSubmit()"  class="submit_button btn-block text-uppercase mb-2   ">Create Account</button>
                                        <span class="submiterr" id="submit-error"></span>
                                    </div>                           
                                    
                                    <div style="color: white;" class="text-center d-flex justify-content-center mt-4">
                                        <p>Already have an account <a href="/admin" >
                                                <u class="link_hover_form_down">login</u></a></p>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div><!-- End -->
    
                </div>
            </div><!-- End -->

            
    
        </div>
    </div>

