
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The content half -->
        <div class="col-md-6 second-part">

            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                              <a href="/"><button class="back_button fa fa-home mb-2"></button></a>

                            <h3 class="user_form_tittle ">Forgot Password !</h3>
                            <p class="text-muted mb-4 " style="text-align: center;">Enter your Mobile number for
                                forgot password.</p>
                            <div id="errorMessage" class="mb-4" style="color: red; text-align: center;">{{errorMessage}}
                            </div>
                            <form action="/forgotPassword" method="post">
                                <div class="form-group mb-4 inputgroup">
                                    <label for="inputMobile">Mobile</label>
                                    <input id="inputMobile" name="Mobile" onkeyup="validateMobile()" type="text"  required=""class="form-control   shadow-sm px-4 text-primary">
                                    <span id="mobile-error"> </span>
                                </div>
                                
                                <div class="form-group mb-2 inputgroup ">
                                        <button type="submit" onclick="return validateForgot1()"  class="submit_button btn-block text-uppercase mb-2 ">Submit</button>
                                        <span class="submitError" id="submit-error"></span>
                                </div>  

                                <div style="color: white;" class="text-center d-flex justify-content-center mt-4">
                                    <p>Create New Account <a href="/signup" class="font-italic text-muted">
                                            <u style="color: blue;">Sign Up</u></a></p>
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>

